USE [QUANLY_THUVIEN]
GO
/****** Object:  StoredProcedure [dbo].[SP_AdminResetPassword]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AdminResetPassword]
    @LoginNameToChange NVARCHAR(128),
    @NewPassword NVARCHAR(128)
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SqlCmd NVARCHAR(MAX);

    IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @LoginNameToChange)
    BEGIN
        RAISERROR ('Tên đăng nhập không tồn tại.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        SET @SqlCmd = 'ALTER LOGIN [' + @LoginNameToChange + '] WITH PASSWORD = ''' + REPLACE(@NewPassword, '''', '''''') + ''';';
        EXEC sp_executesql @SqlCmd;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_AutoLockExpiredReaderCards]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_AutoLockExpiredReaderCards]
AS
BEGIN
    SET NOCOUNT ON;

   
    DECLARE @Today DATE = GETDATE();

   
    UPDATE DOCGIA
    SET HOATDONG = 0 
    WHERE 
        HOATDONG = 1 
        AND NGAYHETHAN < @Today; 

   
    PRINT CAST(@@ROWCOUNT AS VARCHAR) + ' reader account(s) have been locked due to card expiration.';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Backup_database]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Backup_database]
    @DatabaseName NVARCHAR(128),
    @Overwrite BIT
AS
BEGIN
    SET NOCOUNT ON;
    -- Vì có backup log => phải chuyển DB về trạng thái , FULL RECOVERY MODEL trước ( nó liên quan tới tính năng tự
	-- động truncate transaction log khi ở trạng thái mặc định là SIMPLE RECOVERY MODEL
		ALTER DATABASE QUANL_THUVIEN SET RECOVERY FULL;

    -- Tạo Device trước
		DECLARE @BackupDeviceName NVARCHAR(128) = 'ThuVienBackupDevice';
	    DECLARE @LogDeviceName NVARCHAR(128) = 'ThuVienLogDevice';


    -- Tạo SQl backup
    DECLARE @SqlCmd NVARCHAR(MAX);

    
	-- Check xem người dùng có muốn xóa bản cũ ko đã
    IF @Overwrite = 1
    BEGIN
	
       -- Backup full trước
        SET @SqlCmd = N'BACKUP DATABASE [' + @DatabaseName + N'] ' +
                      N'TO [' + @BackupDeviceName + N'] ' +
                      N'WITH INIT , SKIP , DESCRIPTION = N''' + @DatabaseName + N' - Full Database Backup'';';
		EXEC sp_executesql @SqlCmd;

        -- Sau đó Backup log
        SET @SqlCmd = N'BACKUP LOG [' + @DatabaseName + N'] ' +
                      N'TO [' + @LogDeviceName + N'] ' +
                      N'WITH INIT , SKIP , DESCRIPTION = N''' + @DatabaseName + N' - Log Reset'';';

        EXEC sp_executesql @SqlCmd;
    END
    ELSE
    BEGIN
        
        SET @SqlCmd = N'BACKUP DATABASE [' + @DatabaseName + N'] ' +
                      N'TO [' + @BackupDeviceName + N'] ' +
                      N'WITH NOINIT, DESCRIPTION = N''' + @DatabaseName + N' - Full Database Backup'';';
    END
    -- Thực thi câu lệnh
    BEGIN TRY
        EXEC sp_executesql @SqlCmd;
        PRINT 'Sao lưu cơ sở dữ liệu thành công.';
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_BackupTransactionLog]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_BackupTransactionLog]
    @DatabaseName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
    -- Backup vào device dành riêng cho log
    BACKUP LOG @DatabaseName TO ThuVienLogDevice WITH INIT;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ByBassExistEmailReader]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ByBassExistEmailReader]
	@id BIGINT,
	@email NVARCHAR (50)
AS
BEGIN
	DECLARE @EmailExist NVARCHAR(50)

	SELECT @EmailExist = EMAILDG
	FROM DOCGIA WHERE MADG = @id AND EMAILDG = @email

	IF @EmailExist IS NOT NULL AND  @EmailExist <> ''
		RETURN;
	ELSE
		BEGIN 
			RAISERROR ('Email khác nhau', 16, 1);
			RETURN;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ByBassExistEmailStaff]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ByBassExistEmailStaff]
	@id INT,
	@email NVARCHAR (50)
AS
BEGIN
	DECLARE @EmailExist NVARCHAR(50)

	SELECT @EmailExist = EMAIL
	FROM NHANVIEN WHERE MANV = @id AND EMAIL = @email

	IF @EmailExist IS NOT NULL AND  @EmailExist <> ''
		RETURN;
	ELSE
		BEGIN 
			RAISERROR ('Email khác nhau', 16, 1);
			RETURN;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Cap_nhat_doc_gia]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Cap_nhat_doc_gia]
    @MADG BIGINT,
    @HODG NVARCHAR(50),
    @TENDG NVARCHAR(10),
    @EMAILDG NVARCHAR(50),
    @SOCMND NVARCHAR(15),
    @GIOITINH BIT,
    @NGAYSINH DATE,
    @DIACHI NVARCHAR(100),
    @DIENTHOAI NVARCHAR(15),
    @NGAYLAMTHE DATE,
    @NGAYHETHAN DATE,
    @HOATDONG BIT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    BEGIN TRY
        UPDATE DOCGIA
        SET 
            HODG = @HODG,
            TENDG = @TENDG,
            EMAILDG = @EMAILDG,
            SOCMND = @SOCMND,
            GIOITINH = @GIOITINH,
            NGAYSINH = @NGAYSINH,
            DIACHI = @DIACHI,
            DIENTHOAI = @DIENTHOAI,
            NGAYLAMTHE = @NGAYLAMTHE,
            NGAYHETHAN = @NGAYHETHAN,
            HOATDONG = @HOATDONG
        WHERE MADG = @MADG;

        -- Kiểm tra có cập nhật được bản ghi không
        IF @@ROWCOUNT = 0
        BEGIN
            THROW 50001, 'Không tìm thấy độc giả để cập nhật.', 1;
        END

        COMMIT TRANSACTION;

        SELECT @MADG AS UpdatedMADG;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Cap_nhat_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Cap_nhat_nhan_vien]
    @MANV INT, 
    @HONV NVARCHAR(50),
    @TENNV NVARCHAR(10),
    @GIOITINH BIT,
    @DIACHI NVARCHAR(100),
    @DIENTHOAI VARCHAR(15),
    @EMAIL VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        UPDATE NHANVIEN
        SET
            HONV = @HONV,
            TENNV = @TENNV,
            GIOITINH = @GIOITINH,
            DIACHI = @DIACHI,
            DIENTHOAI = @DIENTHOAI,
            EMAIL = @EMAIL
        WHERE
            MANV = @MANV; 
    END TRY
    BEGIN CATCH
        PRINT 'Lỗi khi cập nhật nhân viên: ' + ERROR_MESSAGE(); 
        THROW;
    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_CapNhatDauSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CapNhatDauSach] 
    @ISBN_GOC NCHAR(15),
    @ISBN_MOI NCHAR(15),
    @TENSACH NVARCHAR(100),
    @KHOSACH NVARCHAR(5),
    @NOIDUNG NVARCHAR(300),
    @HINHANHPATH NVARCHAR(50),
    @NGAYXUATBAN SMALLDATETIME,
    @LANXUATBAN INT,
    @SOTRANG INT,
    @GIA BIGINT,
    @NHAXB NVARCHAR(100),
    @MANGONNGU INT,
    @MATL NCHAR(10),
    @LISTTG_MOI NVARCHAR(MAX)
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;
        IF @ISBN_GOC <> @ISBN_MOI AND EXISTS (SELECT 1 FROM DAUSACH WHERE ISBN = @ISBN_MOI)
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR (N'Không thể cập nhật: ISBN mới "%s" đã tồn tại.', 16, 1, @ISBN_MOI);
            RETURN;
        END
        UPDATE DAUSACH
        SET
            ISBN = @ISBN_MOI,
            TENSACH = @TENSACH,
            KHOSACH = @KHOSACH,
            NOIDUNG = @NOIDUNG,
            HINHANHPATH = @HINHANHPATH,
            NGAYXUATBAN = @NGAYXUATBAN,
            LANXUATBAN = @LANXUATBAN,
            SOTRANG = @SOTRANG,
            GIA = @GIA,
            NHAXB = @NHAXB,
            MANGONNGU = @MANGONNGU,
            MATL = @MATL
        WHERE ISBN = @ISBN_GOC; -- Tìm theo ISBN gốc
        IF @@ROWCOUNT = 0
        BEGIN
            ROLLBACK TRANSACTION;
            RAISERROR (N'Không tìm thấy đầu sách với ISBN gốc "%s" để cập nhật.', 16, 1, @ISBN_GOC);
            RETURN;
        END

        DECLARE @TacGiaMoiTable TABLE (MATACGIA INT PRIMARY KEY);
        IF @LISTTG_MOI IS NOT NULL AND LEN(@LISTTG_MOI) > 0
        BEGIN
             INSERT INTO @TacGiaMoiTable (MATACGIA)
             SELECT DISTINCT CAST(value AS INT) FROM STRING_SPLIT(@LISTTG_MOI, ',');
        END

        DELETE TGS
        FROM TACGIA_SACH AS TGS
        LEFT JOIN @TacGiaMoiTable AS TGM ON TGS.MATACGIA = TGM.MATACGIA
        WHERE TGS.ISBN = @ISBN_MOI 
          AND TGM.MATACGIA IS NULL;

        INSERT INTO TACGIA_SACH (ISBN, MATACGIA)
        SELECT @ISBN_MOI, TGM.MATACGIA 
        FROM @TacGiaMoiTable AS TGM
        WHERE NOT EXISTS (
            SELECT 1 FROM TACGIA_SACH AS TGS_Existing
            WHERE TGS_Existing.ISBN = @ISBN_MOI AND TGS_Existing.MATACGIA = TGM.MATACGIA
        );

        COMMIT TRANSACTION;
        SELECT * FROM DAUSACH WHERE ISBN = @ISBN_MOI;

    END TRY
    BEGIN CATCH
         IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
         DECLARE @ErrMsg_Catch NVARCHAR(MAX) = ERROR_MESSAGE();
         DECLARE @ErrSeverity_Catch INT = ERROR_SEVERITY();
         DECLARE @ErrState_Catch INT = ERROR_STATE();
         RAISERROR (@ErrMsg_Catch, @ErrSeverity_Catch, @ErrState_Catch);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_CapNhatSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_CapNhatSach]
    @MASACH_MOI nchar(20),    
    @MASACH_CU nchar(20),      
    @ISBN nchar(15),
    @TINHTRANG bit,
    @CHOMUON bit,
    @MANGANTU int,
	@LaSachGoc bit 

AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;

    IF EXISTS (SELECT 1 FROM SACH WHERE MASACH = @MASACH_CU AND CHOMUON = 1)
    BEGIN
        RAISERROR ('Không thể cập nhật thông tin sách đang được cho mượn.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    IF @MASACH_CU <> @MASACH_MOI AND EXISTS (SELECT 1 FROM SACH WHERE MASACH = @MASACH_MOI)
    BEGIN
        RAISERROR ('Mã sách mới đã tồn tại.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    BEGIN TRY
        UPDATE SACH
        SET 
            MASACH = @MASACH_MOI,
            TINHTRANG = @TINHTRANG,
            MANGANTU = @MANGANTU,
			LaSachGoc = @LaSachGoc
        WHERE 
            ISBN = @ISBN
            AND MASACH = @MASACH_CU;

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChangePassword]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChangePassword]
    @LoginName NVARCHAR(128),
    @OldPassword NVARCHAR(128),
    @NewPassword NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @SqlCmd NVARCHAR(MAX);
    
    IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @LoginName)
    BEGIN
        RAISERROR ('Tên đăng nhập không tồn tại.', 16, 1);
        RETURN;
    END

    BEGIN TRY
        SET @SqlCmd = 'ALTER LOGIN [' + @LoginName + '] WITH PASSWORD = ''' + REPLACE(@NewPassword, '''', '''''') + ''';';
        EXEC sp_executesql @SqlCmd;
    END TRY
    BEGIN CATCH
        THROW; 
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Check_Sch_CT_PHIEUMUON]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Check_Sch_CT_PHIEUMUON]
    @MASACHCU nchar(20)
AS
BEGIN
   SELECT CT_PHIEUMUON.MASACH FROM CT_PHIEUMUON WHERE CT_PHIEUMUON.MASACH =  @MASACHCU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CheckIsbnExists]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CheckIsbnExists]
    @ISBN NCHAR(15),
    @Exists BIT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM DAUSACH WHERE ISBN = @ISBN)
        SET @Exists = 1;
    ELSE
        SET @Exists = 0;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ChiTietPhieuMuon_DayDu]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ChiTietPhieuMuon_DayDu]
    @MAPHIEU BIGINT
AS
BEGIN
    SELECT 
        pm.MAPHIEU,
        dg.MADG,
        dg.HODG + ' ' + dg.TENDG AS HOTENDG,
        pm.NGAYMUON,
        pm.HINHTHUC,
        nv.HONV + ' ' + nv.TENNV AS TENNV
    FROM PHIEUMUON pm
    JOIN DOCGIA dg ON pm.MADG = dg.MADG
    JOIN NHANVIEN nv ON pm.MANV = nv.MANV
    WHERE pm.MAPHIEU = @MAPHIEU;

    SELECT 
        ct.MASACH,
        ds.TENSACH,
        ct.NGAYTRA,
        ct.TINHTRANGMUON, 
        ct.TRA AS DaTra, 
        nv_tra.HONV + ' ' + nv_tra.TENNV AS NhanVienNhanSach
    FROM CT_PHIEUMUON ct
    JOIN SACH s ON ct.MASACH = s.MASACH
    JOIN DAUSACH ds ON s.ISBN = ds.ISBN
    LEFT JOIN NHANVIEN nv_tra ON ct.MANVNS = nv_tra.MANV 
    WHERE ct.MAPHIEU = @MAPHIEU;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Count_so_ma_phieu]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Count_so_ma_phieu]
AS
BEGIN
	SELECT COUNT(*) AS SOMAPHIEU FROM PHIEUMUON
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateAccount]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_CreateAccount]
    @LoginName NVARCHAR(128),
    @Password NVARCHAR(128),
    @UserType NVARCHAR(20), 
    @UserId NVARCHAR(128)
--WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    DECLARE @SqlCmd NVARCHAR(MAX);
    DECLARE @DbUserName NVARCHAR(130); 

    IF @UserType = 'NHANVIEN'
        SET @DbUserName = 'NV_' + @UserId;
    ELSE IF @UserType = 'DOCGIA'
        SET @DbUserName = 'DG_' + @UserId;
    ELSE
    BEGIN
        RAISERROR('Loại người dùng không hợp lệ.', 16, 1);
        ROLLBACK TRANSACTION;
        RETURN;
    END

    BEGIN TRY
        IF NOT EXISTS (SELECT 1 FROM sys.server_principals WHERE name = @LoginName)
        BEGIN
            SET @SqlCmd = 'CREATE LOGIN [' + @LoginName + '] WITH PASSWORD = ''' + @Password + ''';';
            EXEC sp_executesql @SqlCmd;
        END
        ELSE
        BEGIN
            RAISERROR('Tên đăng nhập đã tồn tại trên server.', 16, 1);
        END

        SET @SqlCmd = 'USE QUANLY_THUVIEN; CREATE USER [' + @DbUserName + '] FOR LOGIN [' + @LoginName + '];';
        EXEC sp_executesql @SqlCmd;

        IF @UserType = 'NHANVIEN'
        BEGIN
					SET @SqlCmd = 'ALTER SERVER ROLE [sysadmin] ADD MEMBER [' + @LoginName + '];';
					EXEC sp_executesql @SqlCmd;

					-- 3. Thêm login vào vai trò securityadmin (quản lý login)
					SET @SqlCmd = 'ALTER SERVER ROLE [securityadmin] ADD MEMBER [' + @LoginName + '];';
					EXEC sp_executesql @SqlCmd;

					  --   1. Thêm user vào role db_owner trong database
					SET @SqlCmd = 'USE QUANLY_THUVIEN; EXEC sp_addrolemember N''db_backupoperator'', N''' + @DbUserName + ''';';
					EXEC sp_executesql @SqlCmd;

					
        END
        ELSE IF @UserType = 'DOCGIA'
        BEGIN
            SET @SqlCmd = 'USE QUANLY_THUVIEN; GRANT SELECT ON DAUSACH TO [' + @DbUserName + '];';
            EXEC sp_executesql @SqlCmd;
        END

        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
     IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        -- Ném lỗi cụ thể ra ngoài cho Java bắt
        DECLARE @ErrMsg NVARCHAR(4000), @ErrSeverity INT;
        SELECT 
            @ErrMsg = ERROR_MESSAGE(), 
            @ErrSeverity = ERROR_SEVERITY();
        RAISERROR(@ErrMsg, @ErrSeverity, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateAuthor]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateAuthor]
    @HOTENTG NVARCHAR(50),
    @DIACHITG NVARCHAR(100),
    @DIENTHOAITG NVARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    INSERT INTO TACGIA (HOTENTG, DIACHITG, DIENTHOAITG) VALUES (@HOTENTG, @DIACHITG, @DIENTHOAITG);
    SELECT * FROM TACGIA WHERE MATACGIA = SCOPE_IDENTITY();
END
GO
/****** Object:  StoredProcedure [dbo].[SP_CreateBookType]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_CreateBookType]
    @MATL NCHAR(10),
    @THELOAI NVARCHAR(50)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM THELOAI WHERE MATL = @MATL OR THELOAI = @THELOAI)
    BEGIN
        RAISERROR ('Mã hoặc Tên thể loại đã tồn tại.', 16, 1);
        RETURN;
    END
    INSERT INTO THELOAI (MATL, THELOAI) VALUES (@MATL, @THELOAI);
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_Danh_sach_cac_database]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_Danh_sach_cac_database]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT name
    FROM sys.databases
    WHERE name = 'QUANLY_THUVIEN';
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Danh_Tac_Gia_Test]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Danh_Tac_Gia_Test]
AS
BEGIN
		SELECT 
			TACGIA.MATACGIA, 
			TACGIA.HOTENTG, 
			TACGIA.DIACHITG, 
			TACGIA.DIENTHOAITG
		FROM TACGIA
		
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DanhSachDocGiaMuonSachQuaHan_GopTatCa]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_DanhSachDocGiaMuonSachQuaHan_GopTatCa]
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NgayHienTai DATE = GETDATE();
    DECLARE @ThoiGianMuonToiDa INT = 15;

    WITH SachQuaHanChiTiet AS (
        SELECT
            PM.MADG,
            PM.NGAYMUON,
            CONVERT(NVARCHAR(10), PM.NGAYMUON, 103) AS NgayMuonChuoi, 
            CTPM.MASACH,
            DS.TENSACH,
            DATEDIFF(DAY, DATEADD(DAY, @ThoiGianMuonToiDa, PM.NGAYMUON), @NgayHienTai) AS SoNgayQuaHanTinhToan
        FROM PHIEUMUON PM
        INNER JOIN CT_PHIEUMUON CTPM ON PM.MAPHIEU = CTPM.MAPHIEU
        INNER JOIN SACH S ON CTPM.MASACH = S.MASACH 
	    INNER JOIN DAUSACH DS ON S.ISBN = DS.ISBN
        WHERE
            CTPM.NGAYTRA IS NULL
            AND @NgayHienTai > DATEADD(DAY, @ThoiGianMuonToiDa, PM.NGAYMUON)
    ),
    DocGiaQuaHanGop AS (
        SELECT
            SQCT.MADG,
            STRING_AGG(LTRIM(RTRIM(SQCT.MASACH)), ',') WITHIN GROUP (ORDER BY SQCT.NGAYMUON, SQCT.MASACH) AS MaSachGop,
            STRING_AGG(LTRIM(RTRIM(SQCT.TENSACH)), ',') WITHIN GROUP (ORDER BY SQCT.NGAYMUON, SQCT.MASACH) AS TenSachGop,
            STRING_AGG(CONVERT(NVARCHAR(MAX), SQCT.NgayMuonChuoi), ',') WITHIN GROUP (ORDER BY SQCT.NGAYMUON, SQCT.MASACH) AS NgayMuonGop,
            STRING_AGG(CONVERT(NVARCHAR(MAX), SQCT.SoNgayQuaHanTinhToan), ',') WITHIN GROUP (ORDER BY SQCT.NGAYMUON, SQCT.MASACH) AS SoNgayQuaHanGop
        FROM SachQuaHanChiTiet SQCT
        GROUP BY
            SQCT.MADG
    )
    SELECT
        DG.SOCMND,
        DG.HODG,
        DG.TENDG,
        DG.DIENTHOAI,
        DG.EMAILDG,
        DQHG.MaSachGop,
        DQHG.TenSachGop,
        DQHG.NgayMuonGop,
        DQHG.SoNgayQuaHanGop
    FROM DOCGIA DG
    INNER JOIN DocGiaQuaHanGop DQHG ON DG.MADG = DQHG.MADG
    ORDER BY
        DG.HODG, DG.TENDG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Data_Ngon_Ngu]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Data_Ngon_Ngu]
AS
BEGIN
SELECT NGONNGU.MANGONNGU , NGONNGU.NGONNGU FROM NGONNGU;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Data_The_loai]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Data_The_loai]
AS
BEGIN
SELECT THELOAI.MATL ,THELOAI.THELOAI FROM THELOAI;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteAuthor]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteAuthor]
    @MATACGIA INT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (SELECT 1 FROM TACGIA_SACH WHERE MATACGIA = @MATACGIA)
    BEGIN
        RAISERROR ('Không thể xóa tác giả đang có sách trong thư viện.', 16, 1);
        RETURN;
    END
    DELETE FROM TACGIA WHERE MATACGIA = @MATACGIA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_DeleteBookType]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_DeleteBookType]
    @MATL NCHAR(10)
AS
BEGIN
    IF EXISTS (SELECT 1 FROM DAUSACH WHERE MATL = @MATL)
    BEGIN
        RAISERROR ('Không thể xóa thể loại đang được sử dụng bởi một hoặc nhiều đầu sách.', 16, 1);
        RETURN;
    END
    DELETE FROM THELOAI WHERE MATL = @MATL;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ExistByEmail]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_ExistByEmail]
	@email NVARCHAR (50)
AS
BEGIN
	DECLARE @EmailExist NVARCHAR(50)

	SELECT @EmailExist = EMAIL
	FROM NHANVIEN WHERE EMAIL = @email


	SELECT @EmailExist = EMAILDG
	FROM DOCGIA WHERE EMAILDG = @email

	IF @EmailExist IS NOT NULL AND  @EmailExist <> ''
		BEGIN 
			RAISERROR ('Email này đã được sử dụng . Vui lòng chọn email khác.', 16, 1);
			RETURN;
		END
	ELSE
		RETURN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllActiveReaders]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllActiveReaders]
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @RequiredExpiryDate DATE = DATEADD(day, 15, GETDATE());
    SELECT 
        MADG,
        HODG,
        TENDG,
        SOCMND
    FROM DOCGIA
    WHERE 
        HOATDONG = 1                      
        AND NGAYHETHAN >= @RequiredExpiryDate; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAuthors]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllAuthors]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT MATACGIA, HOTENTG, DIACHITG, DIENTHOAITG FROM TACGIA ORDER BY HOTENTG;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllAvailableBooks]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllAvailableBooks]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        s.MASACH,
        ds.TENSACH, s.ISBN
    FROM SACH s
    INNER JOIN DAUSACH ds ON s.ISBN = ds.ISBN
    WHERE 
        s.CHOMUON = 0 
        AND s.TINHTRANG = 1 
		AND s.LaSachGoc = 0;   

END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllBookTypes]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllBookTypes]
AS
BEGIN
    SELECT MATL, THELOAI FROM THELOAI ORDER BY MATL;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAllCreatedLogins]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAllCreatedLogins]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT 
        'NHANVIEN' AS UserType,
        nv.MANV AS UserId,
        nv.HONV + ' ' + nv.TENNV AS FullName,
        sp.name AS LoginName
    FROM NHANVIEN nv
    JOIN sys.database_principals dp ON dp.name = 'NV_' + CAST(nv.MANV AS NVARCHAR(128))
    JOIN sys.server_principals sp ON sp.sid = dp.sid
    
    UNION ALL 
    
    SELECT
        'DOCGIA' AS UserType,
        dg.MADG AS UserId,
        dg.HODG + ' ' + dg.TENDG AS FullName,
        sp.name AS LoginName
    FROM DOCGIA dg
    JOIN sys.database_principals dp ON dp.name = 'DG_' + CAST(dg.MADG AS NVARCHAR(128))
    JOIN sys.server_principals sp ON sp.sid = dp.sid
    
    ORDER BY UserType, FullName;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetAuthorById]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetAuthorById]
    @MATACGIA INT 
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        MATACGIA, 
        HOTENTG, 
        DIACHITG, 
        DIENTHOAITG 
    FROM 
        TACGIA
    WHERE 
        MATACGIA = @MATACGIA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBackupHistory]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBackupHistory]
    @DatabaseName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @MediaSetId INT;
    DECLARE @BackupDevicePath NVARCHAR(260);

    SELECT @BackupDevicePath = physical_name FROM sys.backup_devices WHERE name = 'ThuVienBackupDevice';
    IF @BackupDevicePath IS NULL BEGIN RETURN; END

    SELECT @MediaSetId = media_set_id FROM msdb.dbo.backupmediafamily WHERE physical_device_name = @BackupDevicePath;
    IF @MediaSetId IS NULL BEGIN RETURN; END

SELECT
        bs.backup_set_id AS id,
        bs.position,
        ISNULL(bs.name,
            CASE bs.type
                WHEN 'D' THEN @DatabaseName + ' - Full Database Backup'
                WHEN 'L' THEN @DatabaseName + ' - Transaction Log Backup' -- <<-- SỬA Ở ĐÂY
                ELSE 'Other Backup'
            END
        ) AS description,
        bs.backup_finish_date AS date,
         bs.user_name AS [user],
        bs.type AS backup_type 
    FROM msdb.dbo.backupset AS bs
    -- ... phần JOIN giữ nguyên ...
    WHERE
        bs.database_name = @DatabaseName
        AND bs.media_set_id = @MediaSetId
    ORDER BY
        bs.position DESC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetBookById]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetBookById]
    @ISBN NCHAR(15),
    @MASACH NCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        S.MASACH,
        S.ISBN,
        S.TINHTRANG,
        S.CHOMUON,
        S.MANGANTU,
        NT.KE,
        NT.MOTA
    FROM 
        SACH AS S
    INNER JOIN 
        NGANTU AS NT ON S.MANGANTU = NT.MANGANTU
    WHERE 
        S.ISBN = @ISBN AND S.MASACH = @MASACH;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetEmailByLoginName]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetEmailByLoginName]
    @LoginName NVARCHAR(128)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @db_user_name NVARCHAR(128);	
	DECLARE @manv_from_user INT;
	
	IF NOT EXISTS (SELECT sp.name FROM sys.server_principals sp WHERE  sp.name = @LoginName)
		BEGIN
			RAISERROR ('Tài khoản quản trị chưa được đăng kí!.', 16, 1);
			RETURN;
		END

	SELECT @db_user_name = dp.name
	FROM sys.database_principals dp
	JOIN sys.server_principals sp ON sp.sid = dp.sid
	WHERE sp.name = @LoginName


    IF @db_user_name LIKE 'NV_%'
		BEGIN
			SET @manv_from_user = CAST(SUBSTRING(@db_user_name, 4, LEN(@db_user_name)) AS INT);
        
			SELECT EMAIL
			FROM NHANVIEN
			WHERE MANV = @manv_from_user;
		END
	ELSE
		BEGIN 
			
			RAISERROR ('Tài khoản quản trị chưa được liên kết email !.', 16, 1);
		
			RETURN;
		END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetReadersWithoutLogin]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetReadersWithoutLogin]
--WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;
    SELECT dg.MADG, dg.HODG, dg.TENDG, dg.EMAILDG
    FROM DOCGIA dg
    WHERE NOT EXISTS (
        SELECT 1 
        FROM sys.database_principals dp 
        WHERE dp.name = 'DG_' + CAST(dg.MADG AS NVARCHAR(128)) --
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStaffInfoByCurrentLogin]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetStaffInfoByCurrentLogin]
--WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @current_login_name NVARCHAR(128) = SUSER_SNAME();
    DECLARE @db_user_name NVARCHAR(128);
    DECLARE @manv_from_user INT;

    SELECT @db_user_name = dp.name
    FROM sys.database_principals dp
    JOIN sys.server_principals sp ON dp.sid = sp.sid
    WHERE sp.name = @current_login_name;

    
    IF @db_user_name LIKE 'NV_%'
    BEGIN
        -- Trường hợp Login được map với một User NV_
        SET @manv_from_user = CAST(SUBSTRING(@db_user_name, 4, LEN(@db_user_name)) AS INT);
        
        SELECT MANV, HONV, TENNV, HONV + ' ' + TENNV AS HoTenDayDu, EMAIL, @current_login_name as LoginName
        FROM NHANVIEN
        WHERE MANV = @manv_from_user;
    END
    ELSE IF @db_user_name = 'dbo'
    BEGIN
            SELECT 0 AS MANV, 'Quản trị' AS HONV, 'Hệ thống' AS TENNV, 'Quản trị Hệ thống' AS HoTenDayDu, 'admin@system.com' AS EMAIL, @current_login_name as LoginName;
    END
	ELSE
    BEGIN
        SELECT NULL;
    END
    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_GetStaffWithoutLogin]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_GetStaffWithoutLogin]
AS
BEGIN
    SET NOCOUNT ON;
    SELECT nv.MANV, nv.HONV, nv.TENNV, nv.EMAIL
    FROM NHANVIEN nv
    WHERE NOT EXISTS (
        SELECT 1 
        FROM sys.database_principals dp 
        WHERE dp.name = 'NV_' + CAST(nv.MANV AS NVARCHAR(128)) 
    );
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Kiem_tra_doc_gia_phieu_muon_chua_tra]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Kiem_tra_doc_gia_phieu_muon_chua_tra]
@MADG BIGINT
AS
BEGIN
		SELECT
		COUNT(ct.MASACH) AS SOSACH
		FROM PHIEUMUON pm
		INNER JOIN CT_PHIEUMUON ct ON ct.MAPHIEU = pm.MAPHIEU
		WHERE pm.MADG = @MADG AND ct.TRA IS NULL

END
GO
/****** Object:  StoredProcedure [dbo].[SP_Lap_phieu_muon]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Lap_phieu_muon]
@MAPHIEU BIGINT,
@MADG BIGINT,
@HINHTHUC BIT,
@NGAYMUON SMALLDATETIME,
@MANV INT
AS
BEGIN
         SET NOCOUNT ON;

    BEGIN TRANSACTION;

    DECLARE @NewMaphieu BIGINT;

    BEGIN TRY
		SET IDENTITY_INSERT PHIEUMUON  ON;
        INSERT INTO PHIEUMUON(
            MAPHIEU,
            MADG,
            HINHTHUC,
            NGAYMUON,
            MANV
        )
        VALUES (
            @MAPHIEU,
            @MADG,
            @HINHTHUC,
            @NGAYMUON,
            @MANV
        );
		SET IDENTITY_INSERT PHIEUMUON  OFF;
			 COMMIT TRANSACTION;


 END TRY
    BEGIN CATCH
      
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; 
        THROW; 
        RETURN; 
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Lich_su_muon]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Lich_su_muon]
AS
BEGIN
    SELECT 
        pm.MAPHIEU,
        dg.HODG + ' ' + dg.TENDG AS HOTENDG,
        pm.NGAYMUON,
        pm.HINHTHUC,
        (SELECT COUNT(*) FROM CT_PHIEUMUON ct_count WHERE ct_count.MAPHIEU = pm.MAPHIEU) AS SOSACH,
        nv.HONV + ' ' + nv.TENNV AS TENNV,
        CASE 
            WHEN NOT EXISTS (SELECT 1 FROM CT_PHIEUMUON ct_check WHERE ct_check.MAPHIEU = pm.MAPHIEU AND ct_check.TRA IS NULL)
            THEN CAST(1 AS BIT) -- Đã trả hết
            ELSE CAST(0 AS BIT) -- Còn sách chưa trả
        END AS TRANGTHAITRA
    FROM PHIEUMUON pm
    JOIN DOCGIA dg ON pm.MADG = dg.MADG
    JOIN NHANVIEN nv ON pm.MANV = nv.MANV
    ORDER BY pm.NGAYMUON DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_List_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_List_nhan_vien]
AS
BEGIN
	SELECT NHANVIEN.MANV , NHANVIEN.HONV + ' ' + NHANVIEN.TENNV AS HOTEN FROM NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RestoreDatabase]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RestoreDatabase]
    @DatabaseName NVARCHAR(128),
    @BackupSetID INT = NULL,
    @IsPITR BIT,
    @RestorePointInTime DATETIME = NULL, 
    @OutputMessage NVARCHAR(1000) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    SET @OutputMessage = '';

    -- --- Biến cục bộ ---
    DECLARE @SqlCmd NVARCHAR(MAX);
    DECLARE @BackupFilePath NVARCHAR(MAX); 
    DECLARE @FullBackupPath NVARCHAR(MAX);
    DECLARE @FullBackupFinishTime DATETIME;
    DECLARE @DiffBackupPath NVARCHAR(MAX);
    DECLARE @DiffBackupFinishTime DATETIME;
    DECLARE @LogBackupPath NVARCHAR(MAX);
    DECLARE @CurrentBackupType CHAR(1);

    IF NOT EXISTS (SELECT 1 FROM sys.databases WHERE name = @DatabaseName)
    BEGIN
        SET @OutputMessage = 'Lỗi: Cơ sở dữ liệu ' + @DatabaseName + ' không tồn tại.';
        RAISERROR(@OutputMessage, 16, 1);
        RETURN -1;
    END

    IF @IsPITR = 1 AND @RestorePointInTime IS NULL
    BEGIN
        SET @OutputMessage = 'Lỗi: Với PITR, RestorePointInTime không được để trống.';
        RAISERROR(@OutputMessage, 16, 1);
        RETURN -2;
    END

    IF @IsPITR = 0 AND @BackupSetID IS NULL
    BEGIN
        SET @OutputMessage = 'Lỗi: Nếu không phải PITR, BackupSetID phải được cung cấp.';
        RAISERROR(@OutputMessage, 16, 1);
        RETURN -3;
    END

    BEGIN TRY
        SET @SqlCmd = N'USE master; IF DB_ID(''' + @DatabaseName + N''') IS NOT NULL ALTER DATABASE [' + @DatabaseName + N'] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;';
        EXEC sp_executesql @SqlCmd;
        SET @OutputMessage = 'Thông báo: Đã chuyển ' + @DatabaseName + ' sang SINGLE_USER mode. ';

        IF @IsPITR = 0 
        BEGIN
            SELECT TOP 1 @BackupFilePath = bmf.physical_device_name, @CurrentBackupType = bs.type
            FROM msdb.dbo.backupset bs
            JOIN msdb.dbo.backupmediafamily bmf ON bs.media_set_id = bmf.media_set_id
            WHERE bs.database_name = @DatabaseName AND bs.backup_set_id = @BackupSetID
            ORDER BY bs.backup_finish_date DESC;

            IF @BackupFilePath IS NULL
            BEGIN
                SET @OutputMessage = 'Lỗi: Không tìm thấy thông tin file cho BackupSetID ' + CAST(@BackupSetID AS VARCHAR) + ' của CSDL ' + @DatabaseName;
                RAISERROR(@OutputMessage, 16, 1);
                -- Cố gắng đưa DB về MULTI_USER trước khi thoát
                SET @SqlCmd = N'USE master; IF DB_ID(''' + @DatabaseName + N''') IS NOT NULL ALTER DATABASE [' + @DatabaseName + N'] SET MULTI_USER;';
                EXEC sp_executesql @SqlCmd;
                RETURN -4;
            END

            -- Thêm USE master vào lệnh RESTORE để đảm bảo ngữ cảnh
            SET @SqlCmd = N'USE master; RESTORE DATABASE [' + @DatabaseName + N'] ' +
                          N'FROM DISK = N''' + @BackupFilePath + N''' ' +
                          N'WITH REPLACE, RECOVERY;'; 
            EXEC sp_executesql @SqlCmd;
            SET @OutputMessage = @OutputMessage + 'Đã phục hồi ' + @DatabaseName + ' từ BackupSetID ' + CAST(@BackupSetID AS VARCHAR) + ' thành công.';
        END
        ELSE 
        BEGIN
            SET @OutputMessage = @OutputMessage + 'Bắt đầu quy trình PITR cho ' + @DatabaseName + ' đến ' + CONVERT(NVARCHAR, @RestorePointInTime, 120) + '. ';

            SELECT TOP 1
                @FullBackupPath = bmf.physical_device_name,
                @FullBackupFinishTime = bs.backup_finish_date
            FROM msdb.dbo.backupset bs
            JOIN msdb.dbo.backupmediafamily bmf ON bs.media_set_id = bmf.media_set_id
            WHERE bs.database_name = @DatabaseName
              AND bs.type = 'D' -- Full backup
              AND bs.backup_finish_date <= @RestorePointInTime
            ORDER BY bs.backup_finish_date DESC;

            IF @FullBackupPath IS NULL
            BEGIN
                SET @OutputMessage = 'Lỗi PITR: Không tìm thấy bản Full Backup phù hợp cho ' + @DatabaseName + ' trước ' + CONVERT(NVARCHAR, @RestorePointInTime, 120);
                RAISERROR(@OutputMessage, 16, 1);
                SET @SqlCmd = N'USE master; IF DB_ID(''' + @DatabaseName + N''') IS NOT NULL ALTER DATABASE [' + @DatabaseName + N'] SET MULTI_USER;';
                EXEC sp_executesql @SqlCmd;
                RETURN -5;
            END

            SET @SqlCmd = N'USE master; RESTORE DATABASE [' + @DatabaseName + N'] ' +
                          N'FROM DISK = N''' + @FullBackupPath + N''' ' +
                          N'WITH REPLACE, NORECOVERY;'; -- NORECOVERY để có thể phục hồi thêm log/diff
            EXEC sp_executesql @SqlCmd;
            SET @OutputMessage = @OutputMessage + 'Đã phục hồi Full Backup (' + @FullBackupPath + ') với NORECOVERY. ';

        END

        SET @SqlCmd = N'USE master; IF DB_ID(''' + @DatabaseName + N''') IS NOT NULL ALTER DATABASE [' + @DatabaseName + N'] SET MULTI_USER;';
        EXEC sp_executesql @SqlCmd;
        SET @OutputMessage = @OutputMessage + ' Thông báo: Đã chuyển ' + @DatabaseName + ' sang MULTI_USER mode.';

    END TRY
    BEGIN CATCH
        SET @OutputMessage = 'Lỗi nghiêm trọng trong quá trình phục hồi ' + @DatabaseName + ': ' + ERROR_MESSAGE() +
                           '. Line: ' + CAST(ERROR_LINE() AS VARCHAR) +
                           '. Severity: ' + CAST(ERROR_SEVERITY() AS VARCHAR) +
                           '. State: ' + CAST(ERROR_STATE() AS VARCHAR);

        IF DB_ID(@DatabaseName) IS NOT NULL
        BEGIN
            BEGIN TRY
                SET @SqlCmd = N'USE master; ALTER DATABASE [' + @DatabaseName + N'] SET MULTI_USER;';
                EXEC sp_executesql @SqlCmd;
                SET @OutputMessage = @OutputMessage + ' Đã cố gắng chuyển ' + @DatabaseName + ' về MULTI_USER mode sau lỗi.';
            END TRY
            BEGIN CATCH
                SET @OutputMessage = @OutputMessage + ' Không thể chuyển ' + @DatabaseName + ' về MULTI_USER mode sau lỗi: ' + ERROR_MESSAGE();
            END CATCH
        END
        RAISERROR(@OutputMessage, 16, 1);
        RETURN -99;
    END CATCH

    RETURN 0; 
END
GO
/****** Object:  StoredProcedure [dbo].[SP_RestoreDatabase_normal]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_RestoreDatabase_normal]
    @DatabaseName NVARCHAR(128),
    @BackupSetFileNumber INT
WITH EXECUTE AS OWNER
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @BackupDeviceName NVARCHAR(128) = 'ThuVienBackupDevice';
    DECLARE @SQL NVARCHAR(MAX);
    DECLARE @MaxPosition INT;

    DECLARE @MediaSetId INT;
    SELECT @MediaSetId = media_set_id
    FROM msdb.dbo.backupmediafamily
    WHERE physical_device_name = (SELECT physical_name FROM sys.backup_devices WHERE name = @BackupDeviceName);

    SELECT @MaxPosition = MAX(bs.position)
    FROM msdb.dbo.backupset bs
    WHERE bs.media_set_id = @MediaSetId AND bs.database_name = @DatabaseName;
    
    IF @MaxPosition IS NULL SET @MaxPosition = 0;

    IF @BackupSetFileNumber > @MaxPosition OR @BackupSetFileNumber <= 0
    BEGIN
        RAISERROR ('Bản sao lưu được chọn (vị trí %d) không hợp lệ hoặc không tồn tại trên thiết bị.', 16, 1, @BackupSetFileNumber);
        RETURN;
    END

    BEGIN TRY
        SET @SQL = 'USE master; ALTER DATABASE [' + @DatabaseName + '] SET SINGLE_USER WITH ROLLBACK IMMEDIATE;';
        EXEC(@SQL);

        SET @SQL = 'USE master; RESTORE DATABASE [' + @DatabaseName + '] ' +
                   'FROM [' + @BackupDeviceName + '] ' +
                   'WITH FILE = ' + CAST(@BackupSetFileNumber AS VARCHAR) + ', REPLACE, RECOVERY;';
        EXEC(@SQL);

        SET @SQL = 'USE master; ALTER DATABASE [' + @DatabaseName + '] SET MULTI_USER;';
        EXEC(@SQL);
    END TRY
    BEGIN CATCH
        IF DB_ID(@DatabaseName) IS NOT NULL
        BEGIN
            BEGIN TRY
                SET @SQL = 'USE master; ALTER DATABASE [' + @DatabaseName + '] SET MULTI_USER;';
                EXEC(@SQL);
            END TRY
            BEGIN CATCH
            END CATCH
        END
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        RAISERROR (@ErrorMessage, 16, 1);
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Sach_cua_phieu_muon]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Sach_cua_phieu_muon]
@MAPHIEU BIGINT,
@MASACH NCHAR(20),
@TINHTRANGMUON BIT
AS
BEGIN
   

    BEGIN TRANSACTION;



    BEGIN TRY
        INSERT INTO CT_PHIEUMUON(
            MAPHIEU,
            MASACH,
            TINHTRANGMUON
        )
        VALUES (
            @MAPHIEU,
            @MASACH,
            @TINHTRANGMUON
        );

		UPDATE SACH
        SET CHOMUON = 1
        WHERE MASACH = @MASACH;
			 COMMIT TRANSACTION;


 END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; 
        THROW;
        RETURN; 
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Tao_moi_doc_gia]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tao_moi_doc_gia]
    @HODG NVARCHAR(50),
    @TENDG NVARCHAR(10),
    @EMAILDG NVARCHAR(50),
    @SOCMND NVARCHAR(15),
    @GIOITINH BIT,
    @NGAYSINH DATE, 
    @DIACHI NVARCHAR(100),
    @DIENTHOAI NVARCHAR(15),
    @NGAYLAMTHE DATE,
    @NGAYHETHAN DATE,
    @HOATDONG BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

    DECLARE @NewMADG BIGINT;

    BEGIN TRY
        INSERT INTO DOCGIA (
            HODG,
            TENDG,
            EMAILDG,
            SOCMND,
            GIOITINH,
            NGAYSINH,
            DIACHI,
            DIENTHOAI,
            NGAYLAMTHE,
            NGAYHETHAN,
            HOATDONG
        )
        VALUES (
            @HODG,
            @TENDG,
            @EMAILDG,
            @SOCMND,
            @GIOITINH,
            @NGAYSINH,
            @DIACHI,
            @DIENTHOAI,
            @NGAYLAMTHE,
            @NGAYHETHAN,
            @HOATDONG
        );
	
        SET @NewMADG = SCOPE_IDENTITY();

        SELECT @NewMADG AS NewMADG;
			 COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
       
        THROW; 
        RETURN;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Tao_moi_doc_gia_undo]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tao_moi_doc_gia_undo]
    
	@MADG BIGINT,
    @HODG NVARCHAR(50),
    @TENDG NVARCHAR(10),
    @EMAILDG NVARCHAR(50),
    @SOCMND NVARCHAR(15),
    @GIOITINH BIT, 
    @NGAYSINH DATE, 
    @DIACHI NVARCHAR(100),
    @DIENTHOAI NVARCHAR(15),
    @NGAYLAMTHE DATE,
    @NGAYHETHAN DATE,
    @HOATDONG BIT
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRANSACTION;

		 IF EXISTS (SELECT 1 FROM DOCGIA WHERE DOCGIA.MADG = @MADG)
        BEGIN
            RAISERROR ('Lỗi tạo mã nhân viên tự động: Mã %s đã tồn tại.', 16, 1, @MADG);
            ROLLBACK TRANSACTION;
            RETURN;
        END

    BEGIN TRY
		  SET IDENTITY_INSERT DOCGIA  ON;
        INSERT INTO DOCGIA (
			MADG,
            HODG,
            TENDG,
            EMAILDG,
            SOCMND,
            GIOITINH,
            NGAYSINH,
            DIACHI,
            DIENTHOAI,
            NGAYLAMTHE,
            NGAYHETHAN,
            HOATDONG
        )
        VALUES (
			@MADG,
            @HODG,
            @TENDG,
            @EMAILDG,
            @SOCMND,
            @GIOITINH,
            @NGAYSINH,
            @DIACHI,
            @DIENTHOAI,
            @NGAYLAMTHE,
            @NGAYHETHAN,
            @HOATDONG
        );
		SET IDENTITY_INSERT DOCGIA  OFF;
		 COMMIT TRANSACTION;

       

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; 
        THROW; 
        RETURN;
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Tao_moi_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tao_moi_nhan_vien]
    @HONV NVARCHAR(50),
    @TENNV NVARCHAR(10),
    @GIOITINH BIT,
    @DIACHI NVARCHAR(100),
    @DIENTHOAI VARCHAR(15),
    @EMAIL VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

   
    BEGIN TRANSACTION;

    BEGIN TRY
        INSERT INTO NHANVIEN (
            HONV,
            TENNV,
            GIOITINH,
            DIACHI,
            DIENTHOAI,
            EMAIL
        )
        VALUES (
            @HONV,
            @TENNV,
            @GIOITINH,
            @DIACHI,
            @DIENTHOAI,
            @EMAIL
        );

		DECLARE @NewID INT = SCOPE_IDENTITY();
		COMMIT TRANSACTION;

		SELECT @NewID AS MANV;
       

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
        RETURN; 
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[SP_Tao_moi_nhan_vien_undo]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tao_moi_nhan_vien_undo]
	 @MANV INT,
    @HONV NVARCHAR(50),
    @TENNV NVARCHAR(10),
    @GIOITINH BIT,
    @DIACHI NVARCHAR(100),
    @DIENTHOAI VARCHAR(15),
    @EMAIL VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

   
    BEGIN TRANSACTION;

    BEGIN TRY
        IF EXISTS (SELECT 1 FROM NHANVIEN WHERE MANV = @MANV)
        BEGIN
            RAISERROR ('Lỗi tạo mã nhân viên tự động: Mã %s đã tồn tại.', 16, 1, @MANV);
            ROLLBACK TRANSACTION;
            RETURN; -- Kết thúc SP
        END
      SET IDENTITY_INSERT NHANVIEN ON;
	  INSERT INTO NHANVIEN (
			MANV,
            HONV,
            TENNV,
            GIOITINH,
            DIACHI,
            DIENTHOAI,
            EMAIL
        )
        VALUES (
			@MANV,
            @HONV,
            @TENNV,
            @GIOITINH,
            @DIACHI,
            @DIENTHOAI,
            @EMAIL
        );
		SET IDENTITY_INSERT NHANVIEN OFF;
        COMMIT TRANSACTION;

       

    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION; 
        THROW; 
        RETURN; 
    END CATCH;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_ThemDauSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ThemDauSach]
    @ISBN NCHAR(15),
    @TENSACH NVARCHAR(100),
    @LISTTG NVARCHAR(MAX), -- truyền dạng '1,2,3'
    @KHOSACH NVARCHAR(5),
    @NOIDUNG NVARCHAR(300),
    @HINHANHPATH NVARCHAR(50),
    @NGAYXUATBAN SMALLDATETIME,
    @LANXUATBAN INT,
    @SOTRANG INT,
    @GIA BIGINT,
    @NHAXB NVARCHAR(100),
    @MANGONNGU INT,
    @MATL NCHAR(10)
AS
BEGIN
    BEGIN TRY
        BEGIN TRANSACTION

        INSERT INTO DAUSACH 
        VALUES (@ISBN, @TENSACH, @KHOSACH, @NOIDUNG, @HINHANHPATH, @NGAYXUATBAN, @LANXUATBAN, @SOTRANG, @GIA, @NHAXB, @MANGONNGU, @MATL)

        INSERT INTO TACGIA_SACH (ISBN, MATACGIA)
        SELECT @ISBN, CAST(value AS INT)
        FROM STRING_SPLIT(@LISTTG, ',')

        SELECT * FROM DAUSACH WHERE ISBN = @ISBN

        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrMsg, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_ThemSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_ThemSach]
@MASACH nchar(20),
@ISBN nchar(15),
@TINHTRANG bit,
@CHOMUON bit,
@MANGANTU int,
@LaSachGoc bit 
AS
BEGIN
	SET XACT_ABORT ON;
    BEGIN TRY
        BEGIN TRANSACTION

        INSERT SACH ( MASACH , ISBN , TINHTRANG , CHOMUON , MANGANTU , LaSachGoc) VALUES (@MASACH , @ISBN , @TINHTRANG , @CHOMUON , @MANGANTU, @LaSachGoc )
		SELECT * FROM SACH WHERE ISBN = @MASACH
        COMMIT TRANSACTION
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION

        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrMsg, 16, 1)
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_ke_doc_gia]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Thong_ke_doc_gia]
AS
BEGIN
    SELECT 
        DOCGIA.MADG,
        DOCGIA.HODG,
        DOCGIA.TENDG,
        DOCGIA.EMAILDG,
        DOCGIA.SOCMND,
        DOCGIA.GIOITINH,
        DOCGIA.NGAYSINH,
        DOCGIA.DIACHI,
        DOCGIA.DIENTHOAI,
        DOCGIA.NGAYLAMTHE,
        DOCGIA.NGAYHETHAN,
        DOCGIA.HOATDONG
    FROM DOCGIA
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_ke_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_Thong_ke_nhan_vien]
AS
BEGIN
    SELECT 
        NHANVIEN.MANV,
        NHANVIEN.HONV,
        NHANVIEN.TENNV,
        NHANVIEN.GIOITINH,
        NHANVIEN.DIACHI,
        NHANVIEN.DIENTHOAI,
        NHANVIEN.EMAIL
    FROM NHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_Dau_Sach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Thong_tin_Dau_Sach]
@ISBN NCHAR(15)
AS
BEGIN
		SELECT 
			DAUSACH.ISBN, 
			DAUSACH.TENSACH, 
			STRING_AGG(TACGIA.MATACGIA, ',') AS MATACGIA,
			STRING_AGG(TACGIA.HOTENTG, ',') AS HOTENTG,
			DAUSACH.KHOSACH, 
			DAUSACH.NOIDUNG, 
			DAUSACH.HINHANHPATH, 
			DAUSACH.NGAYXUATBAN, 
			DAUSACH.LANXUATBAN, 
			DAUSACH.SOTRANG, 
			DAUSACH.GIA, 
			DAUSACH.NHAXB, 
			DAUSACH.MANGONNGU, 
			DAUSACH.MATL
		FROM DAUSACH
		INNER JOIN TACGIA_SACH ON TACGIA_SACH.ISBN = DAUSACH.ISBN
		INNER JOIN TACGIA ON TACGIA.MATACGIA = TACGIA_SACH.MATACGIA
		WHERE DAUSACH.ISBN = @ISBN 
		GROUP BY 
        DAUSACH.ISBN, 
        DAUSACH.TENSACH, 
        DAUSACH.KHOSACH, 
        DAUSACH.NOIDUNG, 
        DAUSACH.HINHANHPATH, 
        DAUSACH.NGAYXUATBAN, 
        DAUSACH.LANXUATBAN, 
        DAUSACH.SOTRANG, 
        DAUSACH.GIA, 
        DAUSACH.NHAXB, 
		DAUSACH.MANGONNGU,
		DAUSACH.MATL
    ORDER BY DAUSACH.ISBN ASC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_Dau_Sach_Test]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Thong_tin_Dau_Sach_Test]
AS
BEGIN
SELECT 
        DS.ISBN, 
        DS.TENSACH, 
        STRING_AGG(TG.HOTENTG, ', ') AS TENTACGIA,
		 STRING_AGG(CAST(TG.MATACGIA AS VARCHAR(10)), ',') AS MA_TAC_GIA_GOP,
        DS.KHOSACH, 
        DS.NOIDUNG, 
        DS.HINHANHPATH, 
        DS.NGAYXUATBAN, 
        DS.LANXUATBAN, 
        DS.SOTRANG, 
        DS.GIA, 
        DS.NHAXB, 
        NN.NGONNGU, 
        TL.THELOAI,
		NN.MANGONNGU,
		DS.MATL
		
    FROM DAUSACH DS
    INNER JOIN TACGIA_SACH TGS ON TGS.ISBN = DS.ISBN
    INNER JOIN TACGIA TG ON TG.MATACGIA = TGS.MATACGIA
    INNER JOIN NGONNGU NN ON NN.MANGONNGU = DS.MANGONNGU
    INNER JOIN THELOAI TL ON TL.MATL = DS.MATL
    GROUP BY 
        DS.ISBN, 
        DS.TENSACH, 
        DS.KHOSACH, 
        DS.NOIDUNG, 
        DS.HINHANHPATH, 
        DS.NGAYXUATBAN, 
        DS.LANXUATBAN, 
        DS.SOTRANG, 
        DS.GIA, 
        DS.NHAXB, 
        NN.NGONNGU, 
        TL.THELOAI,
		NN.MANGONNGU,
		DS.MATL
		
    ORDER BY DS.ISBN ASC
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_Dau_Sach_Test_cho_excel]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Thong_tin_Dau_Sach_Test_cho_excel]
AS
BEGIN
WITH SachCounts AS (
        SELECT 
            ISBN, 
            COUNT(*) AS SoCuonThucTe 
        FROM SACH 
        GROUP BY ISBN
    ),
    AuthorList AS (
        SELECT
            ds_isbn.ISBN,
            STRING_AGG(tg_inner.HOTENTG, ', ') WITHIN GROUP (ORDER BY tg_inner.HOTENTG) AS DanhSachTacGia 
        FROM DAUSACH ds_isbn 
        INNER JOIN TACGIA_SACH tgs_inner ON tgs_inner.ISBN = ds_isbn.ISBN
        INNER JOIN TACGIA tg_inner ON tg_inner.MATACGIA = tgs_inner.MATACGIA
        GROUP BY ds_isbn.ISBN
    )

SELECT 

        DS.ISBN, 
        DS.TENSACH, 
      AL.DanhSachTacGia AS TENTACGIA, 
        DS.KHOSACH, 
        DS.NOIDUNG, 
        DS.HINHANHPATH, 
        DS.NGAYXUATBAN, 
        DS.LANXUATBAN, 
        DS.SOTRANG, 
        DS.GIA, 
        DS.NHAXB, 
        NN.NGONNGU, 
        TL.THELOAI,
		DS.MATL,
		 ISNULL(SC.SoCuonThucTe, 0) AS SoCuonThucTe 
    FROM DAUSACH DS
	INNER JOIN AuthorList AL ON AL.ISBN = DS.ISBN 
    INNER JOIN SachCounts SC ON SC.ISBN = DS.ISBN 
    INNER JOIN NGONNGU NN ON NN.MANGONNGU = DS.MANGONNGU
    INNER JOIN THELOAI TL ON TL.MATL = DS.MATL
    ORDER BY TL.THELOAI, DS.TENSACH ASC; 
	END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_Ngan_Tu]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Thong_tin_Ngan_Tu]
AS
BEGIN
	SELECT NGANTU.MANGANTU , NGANTU.KE , NGANTU.MOTA
	FROM NGANTU
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Thong_tin_Sach_DauSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Thong_tin_Sach_DauSach]
@ISBN NCHAR(15)
AS
BEGIN
	SELECT SACH.MASACH , SACH.TINHTRANG , SACH.CHOMUON , SACH.MANGANTU,        SACH.LaSachGoc, 
	 NGANTU.KE , NGANTU.MOTA
	FROM SACH
	INNER JOIN NGANTU ON NGANTU.MANGANTU = SACH.MANGANTU
	WHERE  SACH.ISBN = @ISBN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_ThongKeDauSachMuonNhieu_Full]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_ThongKeDauSachMuonNhieu_Full] 
    @TuNgay DATE,
    @DenNgay DATE
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @DenNgayThucTe DATETIME = DATEADD(day, 1, @DenNgay);
    WITH TacGia_CTE AS (
        SELECT
            DS_TG.ISBN,
            STRING_AGG(TG.HOTENTG, N', ') WITHIN GROUP (ORDER BY TG.HOTENTG) AS DanhSachTacGia
        FROM DAUSACH DS_TG -- Dùng alias khác để tránh nhầm lẫn
        LEFT JOIN TACGIA_SACH TS ON DS_TG.ISBN = TS.ISBN
        LEFT JOIN TACGIA TG ON TS.MATACGIA = TG.MATACGIA
        GROUP BY DS_TG.ISBN
    )
    SELECT
        DS.ISBN,
        DS.TENSACH,
        ISNULL(TG_CTE.DanhSachTacGia, 'N/A') AS TacGia,
        TL.THELOAI AS TheLoai,
        COUNT(CTPM.MASACH) AS SoLuotMuon,
        NULL AS GhiChu 
    FROM DAUSACH DS
    INNER JOIN SACH S ON DS.ISBN = S.ISBN
    INNER JOIN CT_PHIEUMUON CTPM ON S.MASACH = CTPM.MASACH
    INNER JOIN PHIEUMUON PM ON CTPM.MAPHIEU = PM.MAPHIEU
    LEFT JOIN TacGia_CTE TG_CTE ON DS.ISBN = TG_CTE.ISBN
    LEFT JOIN THELOAI TL ON DS.MATL = TL.MATL
    WHERE
        PM.NGAYMUON >= @TuNgay AND PM.NGAYMUON < @DenNgayThucTe
    GROUP BY
        DS.ISBN,
        DS.TENSACH,
        TG_CTE.DanhSachTacGia,
        TL.THELOAI
    HAVING
        COUNT(CTPM.MASACH) > 0
    ORDER BY
        SoLuotMuon DESC, DS.TENSACH ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tim_doc_gia]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tim_doc_gia]
@MADG BIGINT
AS
BEGIN
    SET NOCOUNT ON;
	SELECT DOCGIA.MADG , DOCGIA.HODG , DOCGIA.TENDG , DOCGIA.EMAILDG , DOCGIA.SOCMND ,
			DOCGIA.GIOITINH , DOCGIA.NGAYSINH , DOCGIA.DIACHI , DOCGIA.DIENTHOAI , DOCGIA.NGAYLAMTHE ,
			DOCGIA.NGAYHETHAN , DOCGIA.HOATDONG
	FROM DOCGIA
	WHERE DOCGIA.MADG = @MADG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tim_doc_gia_active]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tim_doc_gia_active]
@MADG BIGINT
AS
BEGIN
	SELECT DOCGIA.HODG + ' ' + DOCGIA.TENDG AS HOTEN 
	, DOCGIA.NGAYSINH , DOCGIA.DIACHI , DOCGIA.EMAILDG 
	, DOCGIA.NGAYHETHAN , DOCGIA.HOATDONG
	FROM DOCGIA WHERE DOCGIA.MADG =  @MADG
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tim_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tim_nhan_vien]
@IDNHANVIEN int
AS
BEGIN
	SELECT  NHANVIEN.MANV , NHANVIEN.HONV , NHANVIEN.TENNV 
	, NHANVIEN.GIOITINH , NHANVIEN.DIACHI , NHANVIEN.DIENTHOAI
	, NHANVIEN.EMAIL
	FROM NHANVIEN WHERE NHANVIEN.MANV = @IDNHANVIEN
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Tim_sach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Tim_sach]
@MASACH NCHAR(20)
AS
BEGIN
	SELECT SACH.MASACH , DAUSACH.TENSACH , SACH.CHOMUON , SACH.TINHTRANG
	FROM SACH 
	INNER JOIN DAUSACH ON DAUSACH.ISBN = SACH.ISBN
	WHERE SACH.MASACH = @MASACH
END
GO
/****** Object:  StoredProcedure [dbo].[SP_TraSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_TraSach]
    @MAPHIEU BIGINT,
    @MASACH NCHAR(20),
    @NGAYTRA SMALLDATETIME,
    @TINHTRANG_SACH_KHI_TRA NVARCHAR(20), 
    @MANV_NHAN INT
AS
BEGIN
   
	SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    DECLARE @MADG_KHOATHE BIGINT;
    DECLARE @NGAYMUON_CHECK SMALLDATETIME;
    DECLARE @THOI_HAN_MUON INT = 15;

    BEGIN TRY
        SELECT @MADG_KHOATHE = MADG, @NGAYMUON_CHECK = NGAYMUON 
        FROM PHIEUMUON 
        WHERE MAPHIEU = @MAPHIEU;

        UPDATE CT_PHIEUMUON
        SET 
            NGAYTRA = @NGAYTRA,
            TRA = 1,
            MANVNS = @MANV_NHAN
        WHERE MAPHIEU = @MAPHIEU AND MASACH = @MASACH AND TRA IS NULL;

        IF @@ROWCOUNT = 0
        BEGIN
            THROW 50001, 'Sách này đã được trả hoặc không tồn tại trong phiếu mượn.', 1;
        END

        IF @TINHTRANG_SACH_KHI_TRA = 'Mất'
        BEGIN
            UPDATE SACH SET TINHTRANG = 0 WHERE MASACH = @MASACH;
            -- Khóa thẻ độc giả ngay lập tức
            UPDATE DOCGIA SET HOATDONG = 0 WHERE MADG = @MADG_KHOATHE;
        END
        ELSE
        BEGIN
            UPDATE SACH 
            SET 
                CHOMUON = 0,
                TINHTRANG = CASE WHEN @TINHTRANG_SACH_KHI_TRA = 'Hỏng' THEN 0 ELSE 1 END
            WHERE MASACH = @MASACH;
        END

        IF DATEDIFF(day, @NGAYMUON_CHECK, @NGAYTRA) > @THOI_HAN_MUON
        BEGIN
            UPDATE DOCGIA SET HOATDONG = 0 WHERE MADG = @MADG_KHOATHE;
        END
        
        COMMIT TRANSACTION;
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;
        THROW;
    END CATCH

END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateAuthor]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_UpdateAuthor]
    @MATACGIA INT,
    @HOTENTG NVARCHAR(50),
    @DIACHITG NVARCHAR(100),
    @DIENTHOAITG NVARCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE TACGIA
    SET 
        HOTENTG = @HOTENTG,
        DIACHITG = @DIACHITG,
        DIENTHOAITG = @DIENTHOAITG
    WHERE MATACGIA = @MATACGIA;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBookImagePath]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateBookImagePath]
    @ISBN NCHAR(15),
    @NewImagePath NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;
    UPDATE DAUSACH
    SET HINHANHPATH = @NewImagePath
    WHERE ISBN = @ISBN;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_UpdateBookType]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_UpdateBookType]
    @MATL_CU NCHAR(10),       -- Tham số mới: Mã cũ để tìm kiếm
    @MATL_MOI NCHAR(10),       -- Mã mới để cập nhật
    @THELOAI_MOI NVARCHAR(50) -- Tên mới để cập nhật
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra xem mã mới có bị trùng với mã của một thể loại khác không
    IF @MATL_CU <> @MATL_MOI AND EXISTS (SELECT 1 FROM THELOAI WHERE MATL = @MATL_MOI)
    BEGIN
        RAISERROR ('Mã Thể Loại mới "%s" đã tồn tại.', 16, 1, @MATL_MOI);
        RETURN;
    END

    -- Kiểm tra xem tên mới có bị trùng với tên của một thể loại khác không
    IF EXISTS (SELECT 1 FROM THELOAI WHERE THELOAI = @THELOAI_MOI AND MATL <> @MATL_CU)
    BEGIN
        RAISERROR ('Tên thể loại "%s" đã được sử dụng.', 16, 1, @THELOAI_MOI);
        RETURN;
    END

    -- Cập nhật bảng THELOAI
    -- ON UPDATE CASCADE trên khóa ngoại của bảng DAUSACH sẽ tự động cập nhật các đầu sách liên quan
    UPDATE THELOAI 
    SET 
        MATL = @MATL_MOI, 
        THELOAI = @THELOAI_MOI 
    WHERE 
        MATL = @MATL_CU;
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Xoa_doc_gia]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Xoa_doc_gia]
    @MaDG BIGINT
AS
BEGIN
    SET NOCOUNT ON;

    -- Kiểm tra độc giả có tồn tại không
    IF EXISTS (SELECT 1 FROM DOCGIA WHERE MaDG = @MaDG)
    BEGIN
        DELETE FROM DOCGIA
        WHERE MaDG = @MaDG;

        PRINT 'Đã xóa độc giả thành công.';
    END
    ELSE
    BEGIN
        RAISERROR('Không tìm thấy độc giả có mã %d', 16, 1, @MaDG);
    END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_Xoa_nhan_vien]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_Xoa_nhan_vien]
    @MANV INT 
AS
BEGIN
    SET NOCOUNT ON;

    BEGIN TRY
        DELETE FROM NHANVIEN
        WHERE MANV = @MANV; 
    END TRY
    BEGIN CATCH
        PRINT 'Lỗi khi xóa nhân viên: ' + ERROR_MESSAGE(); 
        THROW;

    END CATCH;

END;
GO
/****** Object:  StoredProcedure [dbo].[SP_XoaDauSachVaLienKet]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_XoaDauSachVaLienKet]
    @ISBN NCHAR(15)
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @DauSachDeletedCount INT = 0; 
         IF EXISTS (SELECT 1 FROM CT_PHIEUMUON ctpm JOIN SACH s ON ctpm.MASACH = s.MASACH WHERE s.ISBN = @ISBN AND ctpm.NGAYTRA IS NULL) -- Giả sử có bảng CT_PHIEUMUON
         BEGIN
             RAISERROR (N'Không thể xóa: Đầu sách "%s" có sách đang được mượn.', 16, 1, @ISBN);
             SELECT CAST(0 AS BIT) AS Success, N'Đầu sách có sách đang được mượn.' AS Message;
             RETURN;
         END

    BEGIN TRY
        BEGIN TRANSACTION;
        DELETE FROM TACGIA_SACH
        WHERE ISBN = @ISBN;
        DELETE FROM SACH
        WHERE ISBN = @ISBN;

        DELETE FROM DAUSACH
        WHERE ISBN = @ISBN;
        SET @DauSachDeletedCount = @@ROWCOUNT; 

        COMMIT TRANSACTION;

         IF @DauSachDeletedCount > 0
             SELECT CAST(1 AS BIT) AS Success, N'Xóa đầu sách và các liên kết thành công.' AS Message;
         ELSE
             SELECT CAST(0 AS BIT) AS Success, N'Không tìm thấy đầu sách với ISBN để xóa (hoặc đã được xóa trước đó).' AS Message;


    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION;

        DECLARE @ErrMsg NVARCHAR(MAX) = ERROR_MESSAGE();
        DECLARE @ErrSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrState INT = ERROR_STATE();

         SELECT CAST(0 AS BIT) AS Success, @ErrMsg AS Message;

        RAISERROR (@ErrMsg, @ErrSeverity, @ErrState);

    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[Sp_XoaSach]    Script Date: 12/20/2025 1:02:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Sp_XoaSach]
    @MASACHCU nchar(20),
	@ISBN nchar(15)
AS
BEGIN
    SET NOCOUNT ON;    
    BEGIN TRY
		DELETE SACH WHERE SACH.ISBN  =@ISBN AND SACH.MASACH   = @MASACHCU
		 SELECT * FROM SACH;
    END TRY
    BEGIN CATCH
        DECLARE @ErrMsg NVARCHAR(4000) = ERROR_MESSAGE()
        RAISERROR(@ErrMsg, 16, 1)
    END CATCH
   
END
GO
